.games {
  text-align: center;
  padding: 0px 150px 0px 150px;
  font-size: 20px;
}

.submitForm {
  text-align: center;
  margin-left: 200px;
}

#table {
  display: table;
  border: 1px solid gray;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  border: 1px solid gray;
  padding: 10px;
  width: 100px;
}
